@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.hero-section {
  @apply relative  px-6  lg:px-8;
}

.hero-background {
  @apply absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80;
}

.hero-background-shape {
  @apply relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem];
}

.hero-container {
  @apply mx-auto max-w-2xl py-32 sm:py-48 lg:py-56;
}

.announcement {
  @apply hidden sm:mb-8 sm:flex sm:justify-center;
}

.announcement-text {
  @apply relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20;
}

.hero-title {
  @apply text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl;
}

.hero-subtitle {
  @apply mt-6 text-lg leading-8 text-gray-600;
}

.hero-buttons {
  @apply mt-10 flex items-center justify-center gap-x-6;
}

.hero-button-primary {
  @apply rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.hero-button-secondary {
  @apply text-sm font-semibold leading-6 text-gray-900;
}

.hero-bottom-background {
  @apply absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)];
}

.hero-bottom-background-shape {
  @apply relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem];
}

/* Simple Card */
/* styles/tailwind.css */
.card {
  @apply bg-white w-96 shadow-xl rounded-lg;
}

.card-body {
  @apply p-6;
}

.card-title {
  @apply text-2xl font-bold mb-2;
}

.card-actions {
  @apply flex justify-end mt-4;
}
